<%= form_for @post do |f| %>
   
<% if @post.errors.any? %>
    <div class="errors">
        <p class="errors-count"><%= pluralize(@post.errors.count, "error") %> prevented this post from saving.</p>
        <ul class="errors-list">
            <% @post.errors.full_messages.each do |msg| %>
                <li class="error"><%= msg %></li>
            <% end %>
        </ul>
    </div>
<% end %>
    
    <%= f.label :title, class: 'label' %>
    <%= f.text_field :title, class: 'text' %>
    <%= f.label :body, class: 'label' %>
    <%= f.text_area :body, class: 'text' %>
    <%= f.submit class: 'btn x-submit' %>
   
<% end %>