<h1 class="title">
    <%= @post.title %>
</h1>
<p class="date">
    Submitted <%= time_ago_in_words(@post.created_at) %> ago.
    <% if user_signed_in? %>
        <%= link_to 'Edit', edit_post_path(@post) %>
        <%= link_to 'Delete', post_path(@post), method: :delete, data: { confirm: 'Are you sure?' } %>
    <% end %>
</p>
<div class="body">
    <%= simple_format(@post.body, class: 'paragraph') %>
</div>


<div class="b-comments">
    <h2><%= @post.comments.count %> Comments</h2>
    <ul class="comments-list">
        <%= render @post.comments %>
    </ul>
    <h3>Add a comment:</h3>
    <%= render 'comments/form' %>
</div>